{% extends 'photo/base.html' %}
{% block title %}All Images{% endblock %}
{% block images_active %}active{% endblock %}

{% block body %}
<div class="container-fluid images-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'photo:images' 'all' %}">View All</a></li>
                <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'photo:images' 'favorites' %}">Favorites</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Photo Title</th>
                                <th>Artist</th>
                                <th>Photo File</th>
                                <th>Album</th>
                                <th>Favorite</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for image in image_list %}
                                <tr>
                                    <td>{{ image.image_title }}</td>
                                    <td>{{ image.album.artist }}</td>
                                    <td>
                                        <a target="_blank" href="{{ image.image_file.url }}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp; View
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'photo:detail' image.album.id %}">
                                            <img src="{{ image.album.album_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </a>
                                        <a href="{% url 'photo:detail' image.album.id %}">{{ image.album.album_title }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'photo:favorite' image.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if image.is_favorite %}active{% endif %}"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
